<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="true">

  <targets>
    <target name="asyncMyNLogFile" xsi:type="AsyncWrapper">
      <target name="retryMyNLogFile" xsi:type="RetryingWrapper">
        <target name="MyNLogFile" xsi:type="File" fileName="${basedir}/log/${date:format=yyyy}/${date:format=MM}/${date:format=yyyyMMdd}.txt" layout="${longdate} [${level}] ${threadid}- ${message}" />
      </target>
    </target>

  </targets>
  
  <rules>
    <logger name="LogHelper" minlevel="Debug" writeTo="asyncMyNLogFile" />
  </rules>
</nlog>